<h1>Awesome To-Do List</h1>

<% if current_user.nil? %>

  <p>Welcome to the ultimate Awesome To-Do List application! Because all you need to organize your life is another to-do app. This one isn't like the others though, oh no! It is completely unique and will change everything.</p>

  <p><%= button_to "Try it for free!", guests_path, method: :post %></p>

  <p>Already signed up? <%= link_to "Log in", login_path %></p>

<% else %>
	<div id="projects">
	<% @projects.each do |project| %>
	  <h2><%= link_to project.name, project %></h2>
	  <%= pluralize project.tasks.size, "task" %> |
	  <%= link_to "Rename", edit_project_path(project) %> |
	  <%= link_to "Destroy", project, confirm: "Are you sure?", method: "delete" %>
	<% end %>
	</div>

	<p><%= link_to "New Project", new_project_path %></p>
<% end %>